@use './_variables' as *;

.account-info {
    position: relative;

    i {
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    .info-dropdown {
        position: absolute; /* Ensures dropdown is positioned relative to the button */
        top: 100%; /* Positions it directly below the button */
        left: 0; /* Aligns it with the button */
        margin-top: 8px; /* Adds spacing between the button and the dropdown */
        background: radial-gradient(circle, var(--header-bg-color), rgb(214, 185, 57)); /* Use a variable for theme compatibility */
        padding: 10px;
        border-radius: 8px;
        z-index: 100; /* Ensures it appears above other elements */
        min-width: 200px; /* Ensures enough space for text */

        h3 {
            margin: 0;
            margin-bottom: 10px;
            font-size: 1.5em;
        }

        p {
            margin: 5px 0;
            font-size: 1.3rem;
        }
    }
}
