@use './_variables' as *;

.Header {
    background-color: var(--header-bg-color);
    height: $header-height;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    position: relative;
    i{
        font-size: 1.8rem;
        cursor: pointer;
    }
  
    .theme-toggler {
      $size: 50px;
      .theme-buttons {
        cursor: pointer;
  
        display: flex;
        position: relative;
        height: $size;
        width: $size;
        overflow: hidden;
  
        .light-theme-btn,
        .dark-theme-btn {
          position: absolute;
          top: $size;
          transition: top 0.5s ease-in-out;
          &.active {
            top: 0;
          }
        }
      }
    }
  }